.heroButton
    background: rgba(40, 40, 40, 0.7)
    backdrop-filter: blur(100px)
    border-radius: 12px
    padding: 16px 32px
    color: white
    font-weight: 500
    font-size: 18px
    cursor: pointer
    transition: all 0.3s ease
    position: relative
    overflow: hidden
    border: none
    outline: none
    width: 100%
    display: block
    text-align: center
    @media (min-width: 640px)
        width: auto
    @media (max-width: 640px)
        font-size: 10px
        padding: 12px 24px
    &:before
        content: ''
        position: absolute
        inset: 0
        border-radius: 12px
        padding: 1.5px
        background: linear-gradient(-5deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.2) 100%)
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
        -webkit-mask-composite: xor
        mask-composite: exclude
        pointer-events: none

.neuralPathsHeader
    background: transparent
    border-radius: 4px
    padding: 8px 16px
    position: relative
    border: 1.5px solid #F8F8F829
    &:before
        content: ''
        position: absolute
        inset: 0
        border-radius: 4px
        padding: 1px
        background: linear-gradient(145deg, #FFFFFF00, #FFFFFF4D, #FFFFFF00)
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
        -webkit-mask-composite: xor
        mask-composite: exclude
        pointer-events: none

.visitButton
    background: #51515136
    backdrop-filter: blur(50px)
    padding: 16px 32px
    border-radius: 20px
    color: white
    font-size: 18px
    position: relative
    cursor: pointer
    border: none
    box-shadow: 2px 4px 16px 0 rgba(248, 248, 248, 0.06), 0 4px 10px 0 rgba(0, 0, 0, 0.25)
    &:before
        content: ''
        position: absolute
        inset: 0
        border-radius: 20px
        padding: 1.5px
        background: linear-gradient(175deg, #FFFFFF66, #FFFFFF00, #FFFFFF00, #FFFFFF1A)
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
        -webkit-mask-composite: xor
        mask-composite: exclude
        pointer-events: none